@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin:0;
    padding:0;
    background-color: blue;
}
header {
    font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Header {
    max-width: 70%;
    color: white;
  
}
ul {
    display: flex;

}