@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*propriété body */
* {
    box-sizing: border-box; /* Opera/IE 8+ ok */
  
  }
   
     
  html {
    scroll-behavior: auto;
    width: 100%;
  
  }

body {
    background-color: #404040;
    margin:0;
}
.Header1 {
    margin:0 125px;
    padding: 20px;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Header2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 800px;
    color: white;
  
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center; /*alignement des éléments au centre*/
    list-style-type: none; /*suppression des puces*/
    
    
    
}
ul a {
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.924vw; /* conversion de 14px en vw pour lisibilité sur différents supports*/
    text-decoration: none; /*suppression du surlignage par défaut*/
    padding: 1em;
}
button {
    background: #fb2056;
    padding: 8px 40px;
    border-radius: 30px; /*bord du bouton arrondi*/
    border: 0;
    color: white;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.056vw;
}
button:hover { /* changement de couleur de fond au survol*/
    background-color: #da1c4b;
}
footer  {
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.924vw; /* conversion de 14px en vw pour lisibilité sur différents supports*/
    background-color:#404040 ;
    text-align: center;
    padding: 40px 0;
}
address{
    font-style: normal;
}