@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: rgb(55, 55, 71);
}
header {
    margin:0 125px;
    padding: 20px;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 800px;
    color: white;
  
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    
    
    
}
ul a {
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 1em;
}
button {
    background: #fb2056;
    padding: 8px 40px;
    border-radius: 20%;
    border: 0;
    color: white;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}